# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Eric4
.eric4project/
*.e4p

# Misc
*~
*.bak
*.bak2
my/
scripts/bugs/
scripts/perso/
lib/python/vacumm/misc/grid/interp.o
setup.cfg

# Sphinx
doc/sphinx/build/
doc/sphinx/source/bin/*.txt
doc/sphinx/source/library/misc-color-*.png
doc/sphinx/source/vacumm.cfg

# Scripts results
scripts/test/test_*.png
scripts/test/test_*.nc
scripts/test/test_*.cfg
scripts/test/test_*.pdf
scripts/tutorials/*.png
scripts/tutorials/*.pdf
scripts/tutorials/*.xyz
scripts/tutorials/*.nc
test/*.nc
test/OBS/
test/ENS/
test/ARM/
test/CUI
test/install/
test/*.js
test/*.css
test/*.html
test/*.html
test/*.txt
